# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd


# =========================
# VIRTUAL ENVIRONMENT
# =========================

venv/
env/
ENV/


# =========================
# STREAMLIT
# =========================

.streamlit/


# =========================
# MODEL FILES
# =========================

models/*.pt
models/*.pth
models/*.keras
models/*.h5


# =========================
# DATASETS
# =========================

dataset/
datasets/
data/
*.zip


# =========================
# IMAGES & GRAPHS
# =========================

graphs/*.png
graphs/*.jpg
graphs/*.jpeg

assets/


# =========================
# NOTEBOOKS
# =========================

.ipynb_checkpoints/


# =========================
# OPERATING SYSTEM FILES
# =========================

.DS_Store
Thumbs.db


# =========================
# IDE FILES
# =========================

.vscode/
.idea/


# =========================
# LOG FILES
# =========================

*.log


# =========================
# CACHE
# =========================

.cache/